# Database Configuration - Railway MySQL
DB_HOST=mysql.railway.internal
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rUgVruqkniZedtBpMSgzNpqfmtTzHrBU
DB_NAME=railway

# Environment
NODE_ENV=production

# Port Configuration
PORT=4000 